USE [master]
GO
/****** Objeto: Database [NorthWidtDW] Fecha de script: 5/6/2026 11:42:36 PM ******/
CREATE DATABASE [NorthWidtDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NorthWidtDW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\NorthWidtDW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NorthWidtDW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\NorthWidtDW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NorthWidtDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NorthWidtDW]
GO
/****** Objeto: Table [dbo].[DimCustomer] Fecha de script: 5/6/2026 11:42:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [nchar](5) NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[ContactName] [nvarchar](30) NULL,
	[ContactTitle] [nvarchar](30) NULL,
	[Address] [nvarchar](60) NULL,
	[City] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NULL,
	[Phone] [nvarchar](24) NULL,
	[Fax] [nvarchar](24) NULL,
	[RowCreatedDate] [datetime] NOT NULL,
	[RowModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_DimCustomer] PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DimDate] Fecha de script: 5/6/2026 11:42:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Quarter] [tinyint] NOT NULL,
	[Month] [tinyint] NOT NULL,
	[MonthName] [nvarchar](10) NOT NULL,
	[DayOfMonth] [tinyint] NOT NULL,
	[DayOfWeek] [tinyint] NOT NULL,
	[DayName] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_DimDate] PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DimEmployee] Fecha de script: 5/6/2026 11:42:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimEmployee](
	[EmployeeKey] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](10) NOT NULL,
	[FullName]  AS (([FirstName]+' ')+[LastName]),
	[Title] [nvarchar](30) NULL,
	[TitleOfCourtesy] [nvarchar](25) NULL,
	[BirthDate] [datetime] NULL,
	[HireDate] [datetime] NULL,
	[Address] [nvarchar](60) NULL,
	[City] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NULL,
	[HomePhone] [nvarchar](24) NULL,
	[Extension] [nvarchar](4) NULL,
	[ReportsTo] [int] NULL,
	[RowCreatedDate] [datetime] NOT NULL,
	[RowModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_DimEmployee] PRIMARY KEY CLUSTERED 
(
	[EmployeeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DimProduct] Fecha de script: 5/6/2026 11:42:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProduct](
	[ProductKey] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[CategoryID] [int] NULL,
	[CategoryName] [nvarchar](15) NULL,
	[SupplierID] [int] NULL,
	[SupplierName] [nvarchar](40) NULL,
	[QuantityPerUnit] [nvarchar](20) NULL,
	[UnitPrice] [money] NULL,
	[UnitsInStock] [smallint] NULL,
	[UnitsOnOrder] [smallint] NULL,
	[ReorderLevel] [smallint] NULL,
	[Discontinued] [bit] NOT NULL,
	[RowCreatedDate] [datetime] NOT NULL,
	[RowModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_DimProduct] PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DimShipper] Fecha de script: 5/6/2026 11:42:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimShipper](
	[ShipperKey] [int] IDENTITY(1,1) NOT NULL,
	[ShipperID] [int] NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[Phone] [nvarchar](24) NULL,
	[RowCreatedDate] [datetime] NOT NULL,
	[RowModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_DimShipper] PRIMARY KEY CLUSTERED 
(
	[ShipperKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FactOrderDetails] Fecha de script: 5/6/2026 11:42:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactOrderDetails](
	[OrderDetailKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerKey] [int] NOT NULL,
	[ProductKey] [int] NOT NULL,
	[EmployeeKey] [int] NOT NULL,
	[ShipperKey] [int] NOT NULL,
	[OrderDateKey] [int] NOT NULL,
	[RequiredDateKey] [int] NOT NULL,
	[ShippedDateKey] [int] NOT NULL,
	[Quantity] [smallint] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Discount] [real] NOT NULL,
	[ExtendedAmount]  AS (CONVERT([money],([Quantity]*[UnitPrice])*((1)-[Discount]))),
	[Freight] [money] NOT NULL,
	[RowCreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_FactOrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DimCustomer] ADD  CONSTRAINT [DF_DimCustomer_RowCreatedDate]  DEFAULT (getdate()) FOR [RowCreatedDate]
GO
ALTER TABLE [dbo].[DimCustomer] ADD  CONSTRAINT [DF_DimCustomer_RowModifiedDate]  DEFAULT (getdate()) FOR [RowModifiedDate]
GO
ALTER TABLE [dbo].[DimEmployee] ADD  CONSTRAINT [DF_DimEmployee_RowCreatedDate]  DEFAULT (getdate()) FOR [RowCreatedDate]
GO
ALTER TABLE [dbo].[DimEmployee] ADD  CONSTRAINT [DF_DimEmployee_RowModifiedDate]  DEFAULT (getdate()) FOR [RowModifiedDate]
GO
ALTER TABLE [dbo].[DimProduct] ADD  CONSTRAINT [DF_DimProduct_RowCreatedDate]  DEFAULT (getdate()) FOR [RowCreatedDate]
GO
ALTER TABLE [dbo].[DimProduct] ADD  CONSTRAINT [DF_DimProduct_RowModifiedDate]  DEFAULT (getdate()) FOR [RowModifiedDate]
GO
ALTER TABLE [dbo].[DimShipper] ADD  CONSTRAINT [DF_DimShipper_RowCreatedDate]  DEFAULT (getdate()) FOR [RowCreatedDate]
GO
ALTER TABLE [dbo].[DimShipper] ADD  CONSTRAINT [DF_DimShipper_RowModifiedDate]  DEFAULT (getdate()) FOR [RowModifiedDate]
GO
ALTER TABLE [dbo].[FactOrderDetails] ADD  CONSTRAINT [DF_FactOrderDetails_RowCreatedDate]  DEFAULT (getdate()) FOR [RowCreatedDate]
GO
ALTER TABLE [dbo].[FactOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Customer] FOREIGN KEY([CustomerKey])
REFERENCES [dbo].[DimCustomer] ([CustomerKey])
GO
ALTER TABLE [dbo].[FactOrderDetails] CHECK CONSTRAINT [FK_Fact_Customer]
GO
ALTER TABLE [dbo].[FactOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Employee] FOREIGN KEY([EmployeeKey])
REFERENCES [dbo].[DimEmployee] ([EmployeeKey])
GO
ALTER TABLE [dbo].[FactOrderDetails] CHECK CONSTRAINT [FK_Fact_Employee]
GO
ALTER TABLE [dbo].[FactOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Fact_OrderDate] FOREIGN KEY([OrderDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactOrderDetails] CHECK CONSTRAINT [FK_Fact_OrderDate]
GO
ALTER TABLE [dbo].[FactOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Product] FOREIGN KEY([ProductKey])
REFERENCES [dbo].[DimProduct] ([ProductKey])
GO
ALTER TABLE [dbo].[FactOrderDetails] CHECK CONSTRAINT [FK_Fact_Product]
GO
ALTER TABLE [dbo].[FactOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Fact_RequiredDate] FOREIGN KEY([RequiredDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactOrderDetails] CHECK CONSTRAINT [FK_Fact_RequiredDate]
GO
ALTER TABLE [dbo].[FactOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Fact_ShippedDate] FOREIGN KEY([ShippedDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactOrderDetails] CHECK CONSTRAINT [FK_Fact_ShippedDate]
GO
ALTER TABLE [dbo].[FactOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Shipper] FOREIGN KEY([ShipperKey])
REFERENCES [dbo].[DimShipper] ([ShipperKey])
GO
ALTER TABLE [dbo].[FactOrderDetails] CHECK CONSTRAINT [FK_Fact_Shipper]
GO
USE [master]
GO
